.card {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin-inline: 8px;
	padding-block-end: 24px;
}
.cardImage {
	width: 100%;
	height: 250px;
	overflow: hidden;
	object-fit: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardBody {
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-inline-end: 20px;
	object-fit: cover;
	flex-shrink: 0;
}

.authorDetails,
.date {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
	padding: 8px 0;
}

.cardTitle {
	font-size: 28px;
	font-weight: 700;
	text-align: left;
	padding: 8px 0;
}

.cardText {
	font-size: 16px;
	text-align: left;
	padding: 8px 0;
}

.titleLink {
	color: #000;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.textLink {
	text-align: right;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
